TURBO/64 BBS v__VERSION__
A modern C64 BBS written in C
for the Oscar64 compiler.
Native .prg output for real HW
and C64 Ultimate. Supports
PETSCII, ANSI/CP437, and ASCII
terminals. Includes message
boards, door programs + dev kit,
user accounts, and a SysOp
config editor.
+++ By J0hnny A1pha +++